h1{
    font-family: 'Caveat', cursive;
font-family: 'Indie Flower', cursive;
}
#video {
position: sticky;
background-color: paleturquoise;
border: 2px solid #af7c4c;
border-style: groove;
opacity: 0.9;
margin: 20px;
border-radius: 20px;

}
.jimvid{
  position: sticky;
  text-align: center;
  height: 100px;
  width: 100px;
  margin: auto;
}
}
header {
    height: 100px;
    background-color:  rgb(122, 122, 148);
    margin: 20px;
    box-shadow: 10px 10px;
    border-style: double;
    opacity: 0.9;
    border-radius: 20px;
}
#logo {
  height: 35px;
  margin-left: 30px;
  position: relative;
  bottom: 25px;
  float: left;
  
}


nav{
    
    position: sticky;
    top: 0;
    background-color: paleturquoise;
    border: 2px solid #af7c4c;
    border-style: groove;
    opacity: 0.9;
    margin: 20px;
    border-radius: 20px;
  }
section {
    height: 500px;
    background-color:  rgb(122, 122, 148);
    margin: 20px;
    box-shadow: 10px 10px;
    border-style: double;
    border-radius: 20px;
    
}
#sectionimg {
  height: 320px;
  width: 630px;
  border-radius: 20px;
}
article {
    height: 500px;
    background-color:  rgb(122, 122, 148);
    margin: 20px;
    box-shadow: 10px 10px;
    border-style: double;
    border-radius: 20px;
}
#articleimg {
  height: 355px;
  width: 630px;
  border-radius: 20px;
}

#jimi {
  height: 875px;
width: 607px;
border-radius: 20px;
}
.left {width: 50%;
    float: left;
    
    
;
}
aside {
    height: 1020px;
    width: 45%;
    background-color:  rgb(122, 122, 148);
    margin: 20px;
    float: right;
    box-shadow: 10px 10px;
    border-style: double;
    border-radius: 20px;
}
footer {
    height: 100px;
    background-color: darkslateblue;
    margin: 20px;
    clear: both;
    box-shadow: 10px 10px;
    border-style: double;
    border-radius: 20px;
}
.fa {
  float: right;
  position: relative;
  height: 35px;
  margin-left: 30px;
  position: relative;
  bottom: 30px;
  right: 10px;
  color: azure;
 
}

h1 {
    text-align: center;
    color: ghostwhite;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: peru;
}
ul{
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;  
    word-spacing: 100px;
    
}

li{
  
     display: inline-block;}
     a:link {
        text-decoration: none;
        font-size: 40px;
      }
      
      a:visited {
        text-decoration: none;
      }
      
      a:hover {
        text-decoration: none;
        text-decoration: none;
      }
      
      a:active {
        text-decoration: none;
      }
      a:link {
        background-color: none;
      }
      
      a:visited {
        background-color: darkblue;
      }
      
      a:hover {
        background-color: none;
      }
      
      a:active {
        background-color: blue;
      } 

body {
    margin: 0px;
    background-image: url(/Final-project/css/img/guitarbackground.jpg); 
    
    
}